@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  padding: 0;
  margin: 0;
  font-family: Lato;
  background: linear-gradient(to top left, #f5ebeb 0%, #f8d5c3 25%, #e9c1c1 50%, #e9b0c1 75%);
}
body.stop-scroll {
  overflow: hidden;
}
button {
  background-repeat: no-repeat;
  font-family: Lato;
}
.Julie {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Julie .Julie-title {
  margin-top: 10px;
  width: 250px;
  height: 100px;
  color: #6b6b6b;
  border-bottom: 2px dotted #6b6b6b;
  border-width: 4px;
  text-align: center;
}
.Julie .Julie-title h1 {
  font-family: Bad script;
  margin-top: 20px;
  padding-bottom: -10px;
  font-size: 55px;
  font-weight: 200;
}
.Julie .Julie-content {
  margin: 30px 0;
  width: 75%;
  height: auto;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Julie .Julie-content .Julie-btn {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  height: 150px;
  width: 50%;
  border-radius: 5px;
}
.Julie .Julie-content .Julie-btn span {
  font-family: Lato;
  color: #6b6b6b;
}
.Julie .Julie-content .Julie-btn button {
  margin: 10px 0;
  padding: 15px 30px 15px 30px;
  border: 2px solid #6b6b6b;
  border-radius: 5px;
  color: #6b6b6b;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.Julie .Julie-content .Julie-btn button:hover {
  color: #fff;
  background-color: #6b6b6b;
  transition: all 0.25s ease;
}
.Julie .Julie-content .Julie-btn .blockquote {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #a1b585;
  margin-top: 30px;
}
.Julie .Julie-content .Julie-btn .blockquote::before,
.Julie .Julie-content .Julie-btn .blockquote::after {
  content: "";
  position: absolute;
  background-color: #a1b585;
  width: 3px;
  height: 20px;
  top: -9px;
  left: calc(50% - 1.5px);
  transform: rotate(45deg);
}
.Julie .Julie-content .Julie-btn .blockquote::after {
  transform: rotate(-45deg);
}
.Julie-board {
  overflow: hidden;
  transition: all 0.2s ease;
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.25);
}
.Julie-Alert {
  color: #6b6b6b;
  opacity: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 450px;
  min-height: 200px;
  top: 50%;
  left: calc(50% - 225px);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  z-index: 1000;
  transition: all 0.7s ease;
}
.Julie-Alert h2 {
  font-family: Bad script;
  margin: 20px 0 5px 0;
}
.Julie-Alert .Alert-content {
  display: block;
  margin: 0;
  padding: 20px 20px 0px 20px;
}
.Julie-Alert .Alert-btn-container {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 30px 0 10px 0;
}
.Julie-Alert .Alert-btn-container button {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px 30px 10px 30px;
  border: 2px solid #6b6b6b;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease;
}
.Julie-Alert .Alert-btn-container button a {
  text-decoration: none;
}
.Julie-Alert .Alert-btn-container button:hover {
  transition: all 0.5s ease;
  border-color: #fff;
  color: #fff;
}
.Julie-Alert .Alert-btn-container button:hover > a {
  color: #fff;
}
.Julie-Alert .Alert-btn-container .confirm {
  color: #91c8ff;
  border-color: #91c8ff;
  background-color: transparent;
}
.Julie-Alert .Alert-btn-container .confirm a {
  color: #91c8ff;
}
.Julie-Alert .Alert-btn-container .confirm:hover {
  background-color: #91c8ff;
}
.Julie-Alert .Alert-btn-container .error {
  color: #fc9f8d;
  border-color: #fc9f8d;
  background-color: transparent;
}
.Julie-Alert .Alert-btn-container .error a {
  color: #fc9f8d;
}
.Julie-Alert .Alert-btn-container .error:hover {
  background-color: #fc9f8d;
}
.showJulieAlertBoard {
  -webkit-animation: showAlertBoard 0.5s;
  animation: showAlertBoard 0.5s;
  opacity: 0.7;
  display: block;
}
.showJulieAlert {
  -webkit-animation: showAlert 0.45s;
  animation: showAlert 0.45s;
}
.showJulieAlertPop {
  -webkit-animation: showAlertPop 0.45s;
  animation: showAlertPop 0.45s;
}
.hideJulieAlert {
  -webkit-animation: hideAlert 0.3s;
  animation: hideAlert 0.3s;
}
@media (max-width: 768px) {
  .Julie {
    border: none;
  }
  .Julie .Julie-title {
    width: 150px;
    height: 70px;
  }
  .Julie .Julie-title h1 {
    font-size: 30px;
  }
  .Julie .Julie-content {
    margin: 30px 0;
    width: 100%;
  }
  .Julie .Julie-content .Julie-btn {
    height: 150px;
    width: 80%;
  }
  .Julie-Alert {
    min-width: 250px;
    min-height: 200px;
  }
}
@-moz-keyframes showAlertBoard {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  2% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.7;
    border-radius: 1px;
  }
}
@-webkit-keyframes showAlertBoard {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  2% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.7;
    border-radius: 1px;
  }
}
@-o-keyframes showAlertBoard {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  2% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.7;
    border-radius: 1px;
  }
}
@keyframes showAlertBoard {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  2% {
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.7;
    border-radius: 1px;
  }
}
@-moz-keyframes showAlert {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.3;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes showAlert {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.3;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes showAlert {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.3;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes showAlert {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.3;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes showAlertPop {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 1;
  }
  50% {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    opacity: 1;
  }
  70% {
    transform: scale(0.88);
    -webkit-transform: scale(0.88);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes showAlertPop {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 1;
  }
  50% {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    opacity: 1;
  }
  70% {
    transform: scale(0.88);
    -webkit-transform: scale(0.88);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes showAlertPop {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 1;
  }
  50% {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    opacity: 1;
  }
  70% {
    transform: scale(0.88);
    -webkit-transform: scale(0.88);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes showAlertPop {
  0% {
    opacity: 0;
  }
  1% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 1;
  }
  50% {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    opacity: 1;
  }
  70% {
    transform: scale(0.88);
    -webkit-transform: scale(0.88);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes hideAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes hideAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    opacity: 0;
    display: none;
  }
}
@-o-keyframes hideAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    opacity: 0;
    display: none;
  }
}
@keyframes hideAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    opacity: 0;
    display: none;
  }
}
